// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table{
  margin-top:50px;
}
.btn-xlarge {
  width:50%;
    }
.show
{
  background-color: #999;
}
