// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin{
  padding:10%;
   position: relative;
   margin:0px auto;
   margin-top: 5%;
   text-align: center;
     outline: solid 1px  #000;

}

.signup{
  padding:10%;
   position: relative;
   margin:0px auto;
   margin-top: 5%;
   text-align: center;
   outline: solid 1px  #000;

}
